body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 500px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label,
.form-group input {
    margin-top: 20px;
    display: block;
    width: 90%;
}
.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40%;
}
.btn:hover {
    background-color: #45a049;
}